@charset "UTF-8";
/* pour importer un fichier */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
.bloc-loader {
  position: absolute;
  z-index: 1;
  font-size: 15px;
  color: black;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  animation-name: disparaitre;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

.loader-quart {
  border-radius: 50px;
  border: 6px solid #FF79DA;
  position: relative;
}
.loader-quart::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border: 6px solid transparent;
  border-top-color: #9356DC;
  border-radius: 50px;
  animation: spin 1s linear infinite;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}

/*
.loader-double {
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #FFF;
    border-bottom-color: #FFF;
    -moz-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    &::after {
        content: '';
        position: absolute;
        top: 5px; 
        left: 5px;
        bottom: 5px;
        right: 5px;
        border-radius: 50px;
        border: 6px solid transparent;
        border-top-color: #FFF;
        border-bottom-color: #FFF;
        opacity: 0.6;
        animation: spinreverse 2s linear infinite;
    }
}
*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes apparaitre {
  from {
    opacity: O;
  }
  to {
    opacity: 1;
  }
}
@keyframes apparaitre1 {
  from {
    display: none;
    color: black;
  }
  to {
    display: flex;
  }
}
@keyframes disparaitre {
  from {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  to {
    transform: scaleY(0);
    transform-origin: bottom;
  }
}
@keyframes glisser {
  from {
    transform: scalex(0);
    transform-origin: right;
  }
  to {
    transform: scaleX(1);
    transform-origin: right;
  }
}
@keyframes deplacer {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
    transform-origin: center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: center;
  }
}
/* Faux sélecteurs */
.card, .fonctionnement__element {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

*, *::before, *::after {
  box-sizing: border-box;
  letter-spacing: 0.015em;
  border: none;
}

body {
  background-color: rgba(250, 250, 250, 0.9);
  font-family: "Roboto", sans-serif;
  min-width: 300px;
}

.titre1 {
  display: inline;
  font-size: 1.8em;
  font-family: "Shrikhand", cursive;
  letter-spacing: 0;
  line-height: 2em;
  margin: 0 auto;
}
@media only screen and (min-width: 700px) {
  .titre1 {
    font-size: 2em;
  }
}

.titre2 {
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 1.5em;
}
@media only screen and (min-width: 700px) {
  .titre2 {
    font-size: 1.6em;
  }
}

.titre3 {
  font-size: 1em;
  margin-bottom: 5px;
  font-weight: bold;
}
@media only screen and (min-width: 700px) {
  .titre3 {
    font-size: 1.2em;
  }
}

.titre4 {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.container {
  width: 100%;
  background-color: #FFF;
}
@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

.container1 {
  width: 100%;
  background-color: #FFF;
}
@media only screen and (min-width: 768px) {
  .container1 {
    width: 768px;
    margin: 0 auto;
  }
}

.container {
  animation: apparaitre 3s 3s forwards;
}
.container header {
  opacity: 0;
  animation: apparaitre 0.5s forwards 3.2s;
}

/* Header */
header {
  position: relative;
  text-align: center;
}
header a {
  display: inline;
  position: absolute;
  margin-left: 5%;
  text-decoration: none;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.localisation {
  display: flex;
  justify-content: center;
  background: #e8e8e8;
  box-shadow: 0 2px 5px #c2c2c2 inset;
  font-size: 1em;
  font-weight: 500;
  padding: 15px 0;
  opacity: 0;
  animation: apparaitre 0.7s forwards 3.3s;
}
.localisation span {
  margin-right: 15px;
}
@media only screen and (min-width: 700px) {
  .localisation {
    font-size: 1.2em;
  }
}

/* Sections */
.sections {
  padding: 37px 5%;
  width: 100%;
}

.section1 {
  position: relative;
  background: whitesmoke;
  text-align: center;
  opacity: 0;
  animation: apparaitre 0.5s forwards 3.4s;
}
.section1 .paragraphe {
  margin-top: 10px;
}
.section1 .sous-section {
  margin-bottom: 20px;
}

.section2 {
  opacity: 0;
  animation: apparaitre 0.5s forwards 3.6s;
}
.section2 .icone {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.1em;
}
.section2 .paragraphe {
  color: black;
  font-size: 0.9em;
}

.section3 {
  background: whitesmoke;
  opacity: 0;
  animation: apparaitre 0.5s forwards 3.8s;
}

.section4 {
  background: whitesmoke;
  border-radius: 40px 40px 0 0;
  transform: translateY(-22px);
}
.section4__entete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section4 span {
  font-size: 1.5em;
}
.section4 .centrer {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraphe {
  font-size: 1.07em;
  color: rgba(0, 0, 0, 0.8);
}

.bouton {
  text-decoration: none;
  border-radius: 30px;
  font-size: 1em;
  font-family: inherit;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-weight: 450;
  margin: 30px auto 0 auto;
  color: rgba(255, 255, 255, 0.8);
  transition: all 300ms;
}
.bouton:hover {
  transition: all 300ms;
  opacity: 0.7;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

/* Section 2 */
.fonctionnement {
  display: flex;
  flex-direction: column;
}
.fonctionnement__element {
  background: whitesmoke;
  border-radius: 20px;
  padding: 25px 35px;
  margin-top: 25px;
  font-size: 1.1em;
  width: 97%;
  position: relative;
}
.fonctionnement__element .numero {
  font-size: 0.625em;
  border-radius: 50%;
  background: #9356DC;
  color: white;
  padding: 3px 8px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.fonctionnement__element .icone {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
}
.fonctionnement__element .paragraphe {
  position: relative;
  display: inline-block;
  margin-left: 7%;
  font-weight: 500;
}

/* Section 4 */
.foodmenu {
  width: 100%;
}
.foodmenu__titre {
  line-height: 25px;
  display: inline-block;
  position: relative;
  /* Soulignement court */
}
.foodmenu__titre::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  height: 20px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}
.foodmenu__corps {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  background-color: #fff;
  margin: 15px 0;
  border-radius: 15px;
  font-size: 0.9em;
  display: flex;
  overflow: hidden;
}
.foodmenu__corps:first-child() {
  animation: apparaitre1 0.5s 1s cubic-bezier(0.9, 0, 0.1, 1) backwards;
}
.foodmenu__corps:nth-child(2) {
  animation: apparaitre1 0.5s 2s cubic-bezier(0.9, 0, 0.1, 1);
}
.foodmenu__corps:nth-child(3) {
  animation: apparaitre1 0.5s 4s cubic-bezier(0.9, 0, 0.1, 1);
}
.foodmenu__description {
  padding: 10px;
  width: 80%;
  transition: width 0.5s;
}
.foodmenu__description:hover + .foodmenu__prix {
  /* animation: deplacer 0.5s; */
  transition: transform 0.5s;
  transform: translateX(0%);
}
.foodmenu__description:hover + .foodmenu__prix + .foodmenu__bouton {
  transition: transform 0.5s;
  transform: translateX(0%);
  display: block;
  /* animation: deplacer 0.5s; */
}
.foodmenu__description:hover + .foodmenu__prix + .foodmenu__bouton span {
  animation: rotation 1s;
}
.foodmenu__description:hover {
  width: 60%;
  cursor: pointer;
}
.foodmenu__description p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
}
.foodmenu__description p:first-child {
  font-size: 1.25em;
  font-weight: 550;
}
.foodmenu__prix {
  display: flex;
  position: relative;
  width: 20%;
  padding-bottom: 20px;
  padding-right: 5%;
  font-weight: bold;
  justify-content: flex-end;
  align-items: flex-end;
  transform: translateX(100%);
  /*
  &:hover {
      animation: deplacer 0.5s ease;
      cursor: pointer;
  }
  &:hover + .foodmenu__bouton {
      display: block;
      animation: deplacer 0.5s ease;
  }
  &:hover + .foodmenu__bouton span {animation: rotation 1s; }
  &:hover + .foodmenu__description {width : 60%;}
  */
}
.foodmenu__bouton {
  position: relative;
  width: 20%;
  background-color: #99E2D0;
  border-radius: 0 10px 10px 0;
  padding: 10px;
  display: block;
  transform: translateX(100%);
  /*
  &:hover {
      display: block;
      cursor: pointer;
      animation: deplacer 0.5s;
  }
  &:hover + span {animation: rotation 1s;}
  */
}
.foodmenu__bouton span {
  position: absolute;
  display: inline-block;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  display: block;
  position: relative;
  height: 250px;
  margin-top: 20px;
  border-radius: 30px;
  overflow: hidden;
  color: black;
}
@media only screen and (min-width: 700px) {
  .card {
    height: 350px;
  }
}
.card__image {
  position: absolute;
  width: 100%;
  height: 175px;
  top: 0;
  left: 0;
  transform: translate(0, 0) scaleY(1);
  color: black;
}
@media only screen and (min-width: 700px) {
  .card__image {
    height: 250px;
  }
}
.card__commentaire {
  position: absolute;
  right: 10%;
  top: 5%;
  padding: 6px 10px;
  background: #99E2D0;
  color: #217460;
  font-weight: 600;
  font-size: 0.9em;
}
.card__corps {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 16px 10px;
}
@media only screen and (min-width: 700px) {
  .card__corps {
    height: 100px;
  }
}
.card:visited {
  color: black;
}

.bandeau {
  border-radius: 0;
  margin-top: 0;
}
.bandeau .card__image {
  height: 250px;
}
@media only screen and (min-width: 700px) {
  .bandeau .card__image {
    height: 400px;
  }
}

.icone {
  font-size: 1.5em;
  position: absolute;
  right: 5%;
  top: 10px;
}
.icone:hover {
  opacity: 0;
}

.icone1 {
  font-size: 1.5em;
  position: absolute;
  right: 5%;
  top: 10px;
  opacity: 0;
  transition: opacity 250ms;
  color: #9356DC;
}
.icone1:hover {
  opacity: 1;
}

footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
}
footer h3 {
  font-size: 1.1em;
  font-family: "Shrikhand", cursive;
  color: white;
}
footer .nav {
  display: flex;
  flex-direction: column;
}
footer .nav__actions, footer .nav__informations {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  margin-top: 10px;
}
footer .nav__actions {
  color: rgba(255, 255, 255, 0.95);
  font-weight: 450;
}
footer .nav__actions:hover, footer .nav__informations:hover, footer .nav__actions:visited, footer .nav__informations:visited {
  color: lighter(#FFF, 50);
}
footer .nav .utensils::before, footer .nav .hands::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 16px;
  color: white;
  vertical-align: middle;
  margin-right: 10px;
}
footer .nav .utensils::before {
  background: url("../../images/utensils-solid.svg") center center/18px 16px no-repeat;
}
footer .nav .hands::before {
  background: url("../../images/hands-helping-solid.svg") center center/18px 16px no-repeat;
}

/*# sourceMappingURL=style.css.map */
