
.bloc-loader {
    position: absolute;
    z-index: 1;
    font-size: 15px;
    color: black;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: $couleur4;
    animation-name: disparaitre;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    

}

.loader {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    top:50vh;
    transform: translateY(-50%);
}
.loader-quart {
    border-radius: 50px;
    border: 6px solid $couleur2;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: -6px; 
        left: -6px;
        bottom: -6px;
        right: -6px;
        border: 6px solid transparent;
        border-top-color: $couleur1;
        border-radius: 50px;
        animation: spin 1s linear infinite;
        animation-delay: 500ms;
        animation-fill-mode: forwards;
        
    }
}
/*
.loader-double {
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #FFF;
    border-bottom-color: #FFF;
    -moz-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    &::after {
        content: '';
        position: absolute;
        top: 5px; 
        left: 5px;
        bottom: 5px;
        right: 5px;
        border-radius: 50px;
        border: 6px solid transparent;
        border-top-color: #FFF;
        border-bottom-color: #FFF;
        opacity: 0.6;
        animation: spinreverse 2s linear infinite;
    }
}
*/
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes spinreverse {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}
@keyframes apparaitre {
    from {opacity:O;}
    to {opacity:1;}
}
@keyframes apparaitre1 {
    from {
        display: none;
        color:black;
    }
    to {
        display:flex;
       
    }
}
@keyframes disparaitre {
    from {
        transform:scaleY(1);
        transform-origin: bottom;
    }
    to {
        transform:scaleY(0);
        transform-origin: bottom;
    }
}
@keyframes glisser {
    from {
        transform:scalex(0);
        transform-origin: right;
    }
    to {
        transform:scaleX(1);
        transform-origin: right;
    }
}
@keyframes deplacer {
    from {transform:translateX(100%);}
    to {transform:translateX(0%);}
}
@keyframes rotation {
    from {
        transform:rotate(0deg) ;
        transform-origin: center;
    }
    to {
        transform:rotate(360deg);
        transform-origin: center;
    }
}
