@import "./responsive.scss"; /* pour importer un fichier */
@import "./variables.scss";
@import "./mixins.scss";
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import "./loader.scss";
/* Faux sélecteurs */
%shaddow {box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)}

*, *::before, *::after {
    box-sizing: border-box;
    letter-spacing: 0.015em;
    border: none;
}
body{
    background-color: rgba(250, 250, 250, .9);
    font-family: 'Roboto', sans-serif;
    min-width: 300px;
}
.titre1{
    display: inline;
    font-size: $font--size*1.8;
    font-family: 'Shrikhand', cursive;
    letter-spacing: 0;
    line-height: 2em;
    margin: 0 auto;
    @media only screen and (min-width: 700px){
        font-size: $font--size*2;
    }
}
.titre2 {
    font-size: $font--size*1.4;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 1.5em;
    @media only screen and (min-width: 700px){
        font-size: $font--size*1.6;
    }
}
.titre3 {
    font-size: $font--size*1;
    margin-bottom: 5px;
    font-weight: bold;
    @media only screen and (min-width: 700px){
        font-size: $font--size*1.2;
    }
}
.titre4 {
    text-transform: uppercase;
    color: rgba(0, 0, 0, .6)

} 
.container {
    width: 100%;
    background-color: #FFF;
    @media only screen and (min-width: 768px){
        width: 768px;
        margin: 0 auto;
    }
}
.container1 {
    width: 100%;
    background-color: #FFF;
    @media only screen and (min-width: 768px){
        width: 768px;
        margin: 0 auto;
    }
}
.container {
    animation: apparaitre 3s 3s forwards;
    header {
        opacity: 0;
        animation: apparaitre 0.5s forwards 3.2s ;
    }
}
/* Header */   
header{ 
    position: relative;
    text-align: center;
    a {
        display: inline;
        position: absolute;
        margin-left: 5%;
        text-decoration: none;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}                                                                                                                                                                                                                        
.localisation {
    display: flex;
    justify-content: center;
    background: darken($couleur4,5);
    box-shadow: 0 2px 5px darken($couleur4,20) inset;
    font-size: $font--size;
    font-weight: 500;
    padding: $taille-px*1.5 0;
    & span {
        margin-right: $taille-px+5;
    } 
    opacity: 0;
    animation: apparaitre 0.7s forwards 3.3s;
    @media only screen and (min-width: 700px){
        font-size: $font--size*1.2;
    }
}

/* Sections */
.sections {
    padding: 37px 5%;
    width: 100%;
}
.section1 {
    position: relative;
    background: $couleur4;
    text-align: center;
    .paragraphe {margin-top: 10px;}
    .sous-section {margin-bottom: 20px;}
    opacity: 0;
    animation: apparaitre 0.5s forwards 3.4s;
}
.section2 {
    .icone {
        color:rgba(0, 0, 0, 0.6);
        font-size: $font--size*1.1;
    }
    .paragraphe {
        color: black;
        font-size: $font--size*0.9;
    }
    opacity: 0;
    animation: apparaitre 0.5s forwards 3.6s;
}
.section3 {
    background: $couleur4;
    opacity: 0;
    animation: apparaitre 0.5s forwards 3.8s;
}
.section4 {
    background: $couleur4;
    border-radius: 40px 40px 0 0;
    transform: translateY(-22px);
    &__entete {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    span {
        font-size: $font--size*1.5;
        
        }
    .centrer {
       
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    }
}
.paragraphe{
    font-size: $font--size*1.07;
    color:rgba(0, 0, 0, 0.8);
}
.bouton {
    text-decoration: none;
    border-radius: $taille-px*3;
    font-size: $font--size;
    font-family: inherit;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    @include button-padding;
    background: linear-gradient($couleur2, $couleur1);
    font-weight: 450;
    margin: $taille-px*3 auto 0 auto;
    color: rgba(255, 255, 255, .8);
    transition: all $transition--duree;
    &:hover { 
        transition: all 300ms;
        opacity: 0.7;
        cursor: pointer;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) ;
    }
}
/* Section 2 */
.fonctionnement {
    display: flex;
    flex-direction: column;
    &__element {
        background: $couleur4;
        border-radius: $taille-px*2;
        padding: $taille-px*2.5 $taille-px*3.5;
        margin-top: 25px;
        font-size: $font--size*1.1;
        width: 97%;
        @extend %shaddow;
        position: relative;
        .numero {
            font-size: $font--size/1.6;
            border-radius: 50%;
            background: $couleur1;
            color:white;
            padding: 3px 8px;
            position: absolute;
            left:0;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .icone {
            position: absolute;
            top: 50%;
            left: 7%;
            transform: translateY(-50%);
        }
        .paragraphe {
            position: relative;
            display: inline-block;
            margin-left: 7%;
            font-weight: 500;
        }
    }
}
/* Section 4 */
.foodmenu {
    width: 100%;
    &__titre {
        line-height: 25px;
        display: inline-block;
        position: relative;
        /* Soulignement court */
        &::after { 
            content: '';
            position: absolute;
            top: 7px; 
            left: 0;
            height: 20px;
            width: 40px;
            border-bottom: 3px solid $couleur3;
        }
    }
    &__corps {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        background-color: #fff;
        margin: 15px 0;
        border-radius: 15px;
        font-size: $font--size*0.9;
        display: flex;
        overflow: hidden;
    }
    &__corps:first-child(){animation: apparaitre1 0.5s 1s cubic-bezier(.9,0,.1,1) backwards;}
    &__corps:nth-child(2){animation: apparaitre1 0.5s 2s cubic-bezier(.9,0,.1,1);}
    &__corps:nth-child(3){animation: apparaitre1 0.5s 4s cubic-bezier(.9,0,.1,1);}           
    
    &__description {
        padding: 10px;
        width: 80%;
        transition: width 0.5s;
        &:hover + .foodmenu__prix  {
            /* animation: deplacer 0.5s; */
            transition: transform 0.5s;
            transform: translateX(0%);
        }
        &:hover + .foodmenu__prix + .foodmenu__bouton {
            
            transition: transform 0.5s;
            transform: translateX(0%);
            display: block;
            /* animation: deplacer 0.5s; */
        }
        &:hover + .foodmenu__prix + .foodmenu__bouton span {
            animation: rotation 1s;
        }
        &:hover {
            width: 60%;
            cursor: pointer;
        }
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 25px
        }
        p:first-child {
            font-size: $font--size*1.25;
            font-weight: 550;
        }
    }
    &__prix {
        display: flex;
        position: relative;
        width: 20%;
        padding-bottom: 20px;
        padding-right: 5%;
        font-weight: bold;
        justify-content: flex-end;
        align-items:flex-end;
        transform: translateX(100%);
        /*
        &:hover {
            animation: deplacer 0.5s ease;
            cursor: pointer;
        }
        &:hover + .foodmenu__bouton {
            display: block;
            animation: deplacer 0.5s ease;
        }
        &:hover + .foodmenu__bouton span {animation: rotation 1s; }
        &:hover + .foodmenu__description {width : 60%;}
        */
    }
    &__bouton {
        position: relative;
        width: 20%;
        background-color: $couleur3;
        border-radius: 0 10px 10px 0;
        padding: 10px;
        display: block;
        transform:translateX(100%);
        /*
        &:hover {
            display: block;
            cursor: pointer;
            animation: deplacer 0.5s;
        }
        &:hover + span {animation: rotation 1s;}
        */
        span {
            position: absolute;
            display: inline-block;
            color: white;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
        }
    }
}
.card {
    @extend %shaddow;
    display: block;
    position: relative;
    height: 250px;
    margin-top: $taille-px*2;
    border-radius: $taille-px*3;
    overflow: hidden;
    color:black;
    @media only screen and (min-width: 700px){
        height: 350px;
    }
    &__image {
        position: absolute;
        width: 100%;
        height: 175px;
        top:0;
        left: 0;
        transform: translate(0, 0) scaleY(1);
        color:black;
        @media only screen and (min-width: 700px){
            height: 250px;
        }
    }
    &__commentaire {
        position: absolute;
        right: 10%;
        top:5%;
        padding: ($taille-px)-4 $taille-px;
        background: $couleur3;
        color: darken($couleur3,45);
        font-weight: 600;
        font-size: $font--size*0.9;
    }
    &__corps {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: white;
        padding: $taille-px+6 $taille-px;
        @media only screen and (min-width: 700px){
            height: 100px;
        }
    }
    &:visited {color: black;}
}
.bandeau {
    border-radius: 0;
    margin-top: 0;
    .card__image {
        height: 250px;
        @media only screen and (min-width: 700px){
            height: 400px;
        }
    };
}
.icone {
    font-size: $font--size*1.5;
    position: absolute;
    right: 5%;
    top: 10px;
    &:hover {opacity: 0;}
}
.icone1 {
    font-size: $font--size*1.5;
    position: absolute;
    right: 5%;
    top: 10px;
    opacity: 0;
    transition: opacity 250ms;
    color:$couleur1;
    &:hover {opacity: 1;}
}
footer {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    h3 {
        font-size: $font--size*1.1;
        font-family: 'Shrikhand', cursive;
        color: white;
    }
    .nav {
        display: flex;
        flex-direction: column;
        &__actions, &__informations{
            color:rgba(255, 255, 255, .8);
            text-decoration: none;
            margin-top: $taille-px;
        }
        &__actions{
            color:rgba(255, 255, 255, .95);
            font-weight:450;
        }
        &__actions:hover, &__informations:hover,
        &__actions:visited, &__informations:visited{
            color:lighter(#FFF,50);
        }
    .utensils::before, .hands::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 16px;
        color: white;
        vertical-align: middle;
        margin-right: $taille-px;
    }
    .utensils::before{background: url('../../images/utensils-solid.svg') center center / 18px 16px no-repeat;}
    .hands::before {background: url('../../images/hands-helping-solid.svg') center center / 18px 16px no-repeat;}
    }
    
}
