$couleur1: #9356DC;
$couleur2: #FF79DA;
$couleur3: #99E2D0;
$couleur4: rgb(245, 245, 245);
$danger: rgb(179, 77, 77);
$succes: rgb(154, 240, 154);
$taille-px : 10px;
$font--size : 1em;
$transition--duree:300ms;
$header--height: 67px;